* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    font-weight: bold; 
}

#coordinates {
    margin-top: 20px;
  }

  #map {
    height: 400px;
    margin-top: 20px;
    width: 100%;
    display: none;
  }
  